html {
  background-color: rgb(255, 255, 249);
  color: #110054;
}

body {
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

m {
  font-family: "p22-mackinac-pro", serif;
  font-weight: 400;
  font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1% 10% 0 8%;
  }
  
  li {
    float: left;
    width: 20%;
    text-align: center;
    margin-bottom: 4%;
    font-size: 1.3vw;
  }
  
  a {
    display: block;
    padding: 8px;
    padding: 20px;
    color: #110054;
    text-decoration: none;
  }

  a:visited {
    color: #110054;
    text-decoration: none;
  }
  
  h1 {
      font-family: "p22-mackinac-pro", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 6vw;
    font-weight: 100;
    margin: 0;
    margin-bottom: 2vw;

  }


  section {
    margin: 0 14% 0 14%;
  }

  h2 {
    margin-bottom: 10px;
    margin-top: 30px;
  }