html{
    font-family: "alverata", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40pt;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 39, 17);
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: #ffffff;
}

h2{
    color: #ffffff;
    margin-bottom: 35px;
}
h3{
    color: #ffffff;
}

section{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    width: 760px;
    background-color: rgb(0, 54, 23);
    padding: 75px;
    padding-top: 20px;
    border-radius: 15px;
}

li{
    margin-bottom: 10px;
    padding-left: 15px;
}
