html{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: rgb(82, 103, 120);
    font-size: 18pt;
    margin-bottom: 30px;
}

h3{
    font-weight: normal;
    text-align: center;
}

subtitle{
    font-size: 10pt;
    color: rgb(82, 103, 120);
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
    margin-top: 0px;
}

h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 30pt;
    padding-top: 40px;
}

section{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    width: 500px;
    background-color: rgb(240, 247, 250);
    padding: 50px;
    border-radius: 25px;
}